<%- include('../layouts/header', { title: 'Carrito de Compras' }); -%>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="alert alert-success text-center">Products list</h1>
        </div>
    </div>    
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                                                
                    </tr>
                </thead>
                <tbody>
                    <% categoria.map( cat => { %>
                        <tr>
                            
                            <th scope="row"><%= cat.id_categoria %></th>
                            <td><%= cat.nombre_categoria %></td>                           
                            <td>
                                <form 
                                action="/admincategorias/delete/<%= cat.id_categoria %>" 
                                method="post"
                                onsubmit="return confirm('Are you sure you want to delete this product?');"
                                >
                                    <button type="submit" class="btn btn-outline-danger">Delete</button>
                                </form>
                            </td>
                            <td>
                                <a href="/admincategorias/update/<%= cat.id_categoria %>" class="btn btn-outline-primary">Update</a>
                                
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-grid">
            <a href="/admincategorias/create" class="btn btn-outline-secondary">
                Crear Nueva Categoria
            </a>
        </div>
    </div>
</div>
